<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>
<div class="container forgotPasswordContainer">
  <div class="video-container">
    <video #videoPlayer width="100%" height="100%" autoplay loop>
      <source src="videos/pageVideo.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="form-container">
    <div role="status" [attr.aria-label]="'common.loaded' | cxTranslate"></div>
    <div class="logo-container">
      <a href="/">
        <img
          class="siteLogo"
          src="images/sitelogo.svg"
          alt="siteLogo"
        />
      </a>
      <div *ngIf="!isEmailSent">
        <p class="title text-color-primary">
          <span class="subTitle">{{
            "forgotPasswordTranslation.subTitle" | cxTranslate
          }}</span>
        </p>
        <p class="subText">
          {{ "forgotPasswordTranslation.subText" | cxTranslate }}
        </p>
      </div>
    </div>
    <div *ngIf="!isEmailSent" class="mt-5">
      <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <label>
          <span class="label-content"
            >{{ "forgottenPassword.emailAddress.label" | cxTranslate }}
          </span>
          <input
            required="true"
            type="email"
            class="form-control"
            placeholder="{{
              'forgottenPassword.emailAddress.placeholder' | cxTranslate
            }}"
            formControlName="userEmail"
          />

          <cx-form-errors
            *cxFeature="'formErrorsDescriptiveMessages'"
            [translationParams]="{
              label: 'forgottenPassword.emailAddress.label' | cxTranslate
            }"
            [control]="form.get('userEmail')"
          ></cx-form-errors>

          <cx-form-errors
            *cxFeature="'!formErrorsDescriptiveMessages'"
            [control]="form.get('userEmail')"
          ></cx-form-errors>
        </label>
        <ng-container *cxFeature="'!a11yUseButtonsForBtnLinks'">
          <a
            class="btn btn-block btn-secondary"
            [routerLink]="{ cxRoute: 'login' } | cxUrl"
            >{{ "common.cancel" | cxTranslate }}</a
          >
        </ng-container>
        <button class="btn btn-block btn-primary" [disabled]="form.disabled">
          {{ "common.submit" | cxTranslate }}
        </button>
        <ng-container *cxFeature="'a11yUseButtonsForBtnLinks'">
          <button
            class="btn btn-block returnToLoginBtn"
            (click)="navigateTo('login')"
          >
            {{ "forgotPasswordTranslation.returnLogin" | cxTranslate }}
          </button>
        </ng-container>
      </form>
    </div>
    <div *ngIf="isEmailSent" class="mt-1">
      <p class="title text-color-primary">
        <span class="subTitle">{{
          "forgotPasswordTranslation.passwordResetEmailSent.title" | cxTranslate
        }}</span>
      </p>
      <p>{{ "forgottenPassword.passwordResetEmailSent" | cxTranslate }}</p>
      <ng-container *cxFeature="'a11yUseButtonsForBtnLinks'">
        <button
          class="mt-2 btn btn-block btn-primary"
          (click)="navigateTo('login')"
        >
          {{ "forgotPasswordTranslation.returnLogin" | cxTranslate }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
