@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=<MDAwMTExMjk2MS1ta2hhaXNlcjpobXVMc0EwRlFiSUNlb1dsUElRVzZsdUtGaFBObk5yZw==>
always-auth=true