%cx-cart-totals,adnoc-cart-totals {
  padding: 2rem 1.5rem 0;
  
  @include media-breakpoint-down(md) {
    padding-top: 2rem;
    padding-inline-end: 3rem;
    padding-inline-start: 0rem;
  }

  @include media-breakpoint-down(sm) {
    padding-inline-end: 0;
  }

  cx-order-summary,
  adnoc-order-summary {
    padding: 0;

    @include media-breakpoint-down(md) {
      padding: 0 0 2rem;
    }
  }
}
