@import "../../../../styles/scss/utilities/variables";
@import "../../../../styles/scss/utilities/mixins";

.footer-container {
  max-width: 100%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
  background-image: url("../../../../../public/images/footer-bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  @media (max-width: $breakpoint-ipad) {
    padding: 20px;
    overflow: hidden;
  }

  .footer-column-main {
    display: flex;
    flex: 1;
    justify-content: space-around;

    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
    }

    .footer-column {
      &.lists {
        @include media-breakpoint-down(sm) {
          margin-bottom: 30px;
        }

        .listTitle {
          font-size: 30px;
          margin-bottom: 15px;
          position: relative;
          font-family: var(--cx-font-family-bold);
          font-weight: var(--cx-font-weight-bold);
          margin-bottom: 48px;

          @include media-breakpoint-down(sm) {
            font-size: 20px;
            margin-bottom: 10px;
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin-bottom: 10px;

          a {
            color: var(--cx-white);
            text-decoration: none;
            font-size: 20px;
            font-weight: var(--cx-font-weight-normal);

            &:hover {
              text-decoration: underline;
            }

            @include media-breakpoint-down(sm) {
              font-size: 18px;
              min-height: 10px;
            }
          }
        }
      }
    }
  }

  .footer-social {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 30px;
    width: 100%;

    .social-column {
      max-width: 50%;
      margin-left: 90px;

      @include media-breakpoint-down(md) {
        display: inline-flex;
        max-width: 100%;
        margin-left: 0;
      }

      a {
        color: var(--cx-white);
        font-size: 20px;
        text-decoration: none;

        &:hover {
          color: var(--cx-footer-social-icon-hover-color);
        }

        &.socialLinks {
          .socialIcon {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .terms {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
    margin-bottom: 0;

    @media (max-width: $breakpoint-xs) {
      display: block;
    }

    .copyright {
      margin-left: 90px;
      margin-bottom: 0;

      @include media-breakpoint-down(md) {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}