<div class="row">
  <div class="col-12 col-md-4 col-lg-2">
    <a
      [attr.aria-label]="
        !product.images?.hasOwnProperty('PRIMARY')
          ? ('productDetails.noProductImage'
            | cxTranslate : { product: product.name })
          : undefined
      "
      [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
      class="cx-product-image-container"
    >
      <cx-media
        class="cx-product-image"
        [container]="product.images?.PRIMARY"
        format="product"
        [alt]="product.name || product.summary"
      ></cx-media>
    </a>
  </div>
  <div class="col-12 col-md-8 col-lg-10">
    <div class="row">
      <div class="col-12 col-md-8 col-xl-8">
        <ng-template [cxOutlet]="ProductListOutlets.ITEM_DETAILS">
          <cx-star-rating
            *ngIf="product.averageRating"
            [rating]="product?.averageRating"
          ></cx-star-rating>
          <div *ngIf="!product.averageRating" class="cx-product-no-review">
            {{ "productDetails.noReviews" | cxTranslate }}
          </div>
          <div
            class="cx-product-code"
            [attr.aria-label]="'productDetails.id' | cxTranslate"
          >
            {{ "productDetails.id" | cxTranslate }}
            {{product?.categories?.[0]?.code}} -
            {{ product?.code }}
          </div>
        </ng-template>
        <ng-container *cxFeature="'a11yExpandedFocusIndicator'">
          <h2 class="cx-product-name">
            <a
              [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
              [innerHtml]="product.nameHtml"
            ></a>
            <span class="stock-info {{ product.stock?.stockLevelStatus }}">{{
              product.stock?.stockLevelStatus
            }}</span>
          </h2>
        </ng-container>

        <ng-container *cxFeature="'!a11yExpandedFocusIndicator'">
          <h2 class="cx-product-name">
            <a
              [routerLink]="{ cxRoute: 'product', params: product } | cxUrl"
              [innerHtml]="product.nameHtml"
            ></a>
            <span class="stock-info {{ product.stock?.stockLevelStatus }}">{{
              product.stock?.stockLevelStatus
            }}</span>
          </h2>
        </ng-container>
      </div>
      <div class="col-12 col-md-4 col-xl-4">
        <ng-template [cxOutlet]="ProductListOutlets.ITEM_DETAILS">
          <div
            class="cx-product-price"
            [attr.aria-label]="'productDetails.productPrice' | cxTranslate"
          >
            <span class="amount-info">{{ product.price?.formattedValue }}</span>
            <span class="unit-of-measure" *ngIf="product.unit?.name"
              >{{ "productDetails.unitOfMeasure" | cxTranslate }}
              {{ product.unit.name }}</span
            >
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-7 col-xl-8">
        <p class="cx-product-summary" [innerHtml]="product.summary">
          {{ product.summary }}
        </p>
      </div>
      <div class="col-12 col-md-5 col-xl-4">
        <ng-template [cxOutlet]="ProductListOutlets.ITEM_ACTIONS">
          <ng-container *ngIf="!hideAddToCartButton">
            <ng-container cxInnerComponentsHost></ng-container>
          </ng-container>
        </ng-template>
      </div>
    </div>
  </div>
</div>
